.header{
    background-color: rgb(0, 0, 0);
    padding: 25px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.txt-header:hover{
    color: rgb(240, 4, 248);
}
.h1-header:hover{
    color: rgb(240, 4, 248);
}
.h1-header{
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.txt-header{
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    letter-spacing: 1px
}
.span-lucas{
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 1px;
    animation: lucasAnin 15s ease-in-out infinite;
}

@keyframes lucasAnin {
    0%{
        color: #fff;
    }
    25%{
        color: #f00;
    }
    50%{
        color: purple;
    }
    75%{
        color: #0f0;
    }
    100%{

    }    
}
@media (min-width: 200px) and (max-width: 1000px){
    .header{
        padding: 20px;
    }
    .h1-header{
        font-size: 0.6rem;
    }
    
    .txt-header{
        font-size: 0.8rem;
    }
    .span-lucas{
        font-size: 0.8rem;
    }
}
