.p-sobre{
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
}
.sobre{
    display: flex;
    flex-direction: column;
    align-items: left;
    background-image: url('./fundoSobre.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 110vh;
    padding: 30px;
    margin-top: 0rem;
    animation: aninSobre 1s;
}
@keyframes aninSobre{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.p-sobre2{
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    margin-top: 1rem;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
}
.p-sobre3{
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    margin-top: 1rem;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
}
.p-sobre4{
    font-size: 1rem;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    margin-top: 1rem;
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
}
.txtDiv{
    margin-top: 15rem;
}
@media (min-width: 360px) and (max-width: 400px){
    .p-sobre{
        font-size: 0.7rem;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 400;
        color: white;
        letter-spacing: 1px;
        margin-left: 0.5rem;
        display: grid;
    }
    .txtDiv{
        margin-top: 25rem;
        
    }
    .sobre{
        display: flex;
        flex-direction: column;
        align-items: left;
        background-image: url('./fundoSobre.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 120vh;
        width: 100%;
        padding: 30px 0px 220px 0px;
        margin-top: 0rem;
        animation: aninSobre 1s;
    }
    .p-sobre4, .p-sobre2, .p-sobre3{
        font-size:0.7rem;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 400;
        margin-top: 1rem;
        margin-left: 0.5rem;
        color: white;
        letter-spacing: 1px;
        text-decoration: none;
    }

}
@media (width: 375px){
    .p-sobre{
        font-size: 0.7rem;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 400;
        color: white;
        letter-spacing: 1px;
        margin-left: 0.5rem;
        display: grid;
    }
    .txtDiv{
        margin-top: 18rem;
        
    }
    .sobre{
        display: flex;
        flex-direction: column;
        align-items: left;
        background-image: url('./fundoSobre.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 120vh;
        width: 100%;
        padding: 30px 0px 220px 0px;
        margin-top: 0rem;
        animation: aninSobre 1s;
    }
    .p-sobre4, .p-sobre2, .p-sobre3{
        font-size:0.7rem;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 400;
        margin-top: 1rem;
        margin-left: 0.5rem;
        color: white;
        letter-spacing: 1px;
        text-decoration: none;
    }
}
@media (min-width: 400px) and (max-width: 576px){
    .p-sobre{
        font-size: 0.8rem;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 400;
        color: white;
        letter-spacing: 1px;
        margin-left: 0.5rem;
        display: grid;
    }
    .txtDiv{
        margin-top: 26rem;
        
    }
    .sobre{
        display: flex;
        flex-direction: column;
        align-items: left;
        background-image: url('./fundoSobre.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 120vh;
        width: 100%;
        padding: 30px 0px 220px 0px;
        margin-top: 0rem;
        animation: aninSobre 1s;
    }
    .p-sobre4, .p-sobre2, .p-sobre3{
        font-size:0.8rem;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 400;
        margin-top: 1rem;
        margin-left: 0.5rem;
        color: white;
        letter-spacing: 1px;
        text-decoration: none;
    }

}
@media (width: 360px){
    .p-sobre{
        font-size: 0.7rem;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 400;
        color: white;
        letter-spacing: 1px;
        margin-left: 0.5rem;
        display: grid;
    }
    .txtDiv{
        margin-top: 20rem;
        
    }
    .sobre{
        display: flex;
        flex-direction: column;
        align-items: left;
        background-image: url('./fundoSobre.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 120vh;
        width: 100%;
        padding: 30px 0px 220px 0px;
        margin-top: 0rem;
        animation: aninSobre 1s;
    }
    .p-sobre4, .p-sobre2, .p-sobre3{
        font-size:0.7rem;
        font-family: 'Noto Sans', sans-serif;
        font-weight: 400;
        margin-top: 1rem;
        margin-left: 0.5rem;
        color: white;
        letter-spacing: 1px;
        text-decoration: none;
    }

}